<h1><%= @board.name %></h1>

<%= link_to "Edit", edit_board_path(@board), class: "ui orange button" %>
<%= link_to "Delete", @board, method: :delete, class: "ui red button" %>
<hr />
<br>
<div class="container">
<div class="ui cards">
  <div class="ui red fluid card">
    <div class="content"><div class="header"><%= @board.name %></div></div>
  </div>
  <div class="ui orange fluid card">
    <div class="content"><div class="header"><%= @board.name %>
      <p>
        <ul>
          <li>
          Number 1
          </li>
        </ul>
      </p>
    </div></div>
  </div>
  <div class="ui yellow fluid card">
    <div class="content"><div class="header">Option 3</div></div>
  </div>
</div>

<div class="container">
<div class="ui cards">
  <div class="ui red fluid card">
    <div class="content"><div class="header"><%= @board.name %></div></div>
  </div>
  <div class="ui orange fluid card">
    <div class="content"><div class="header"><%= @board.name %>
      <p>
        <ul>
          <li>
          Number 1
          </li>
        </ul>
      </p>
    </div></div>
  </div>
  <div class="ui yellow fluid card">
    <div class="content"><div class="header">Option 3</div></div>
  </div>
</div>

<div class="container">
<div class="ui cards">
  <div class="ui red fluid card">
    <div class="content"><div class="header"><%= @board.name %></div></div>
  </div>
  <div class="ui orange fluid card">
    <div class="content"><div class="header"><%= @board.name %>
      <p>
        <ul>
          <li>
          Number 1
          </li>
        </ul>
      </p>
    </div></div>
  </div>
  <div class="ui yellow fluid card">
    <div class="content"><div class="header">Option 3</div></div>
  </div>
</div>
